name: format | lint | security | test
on: [push, pull_request]
jobs:
  lint_unit_tests_coverage:
    name: Run code validation steps

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.7'
    - name: Install dependencies
      run: |
        make develop
    - name: Run formatter
      run: |
        make code-format
    - name: Run linter
      run: |
        make code-lint
    - name: Run security check
      run: |
        make code-security
    - name: Run unit tests with coverage
      run: |
        git config --global user.email "you@example.com"
        git config --global user.name "A. Name"
        make test
